body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p{
  margin: 0!important;
}

.inline-block{
  display: inline-block!important;
}
.block{
  display: block!important;
}
.inline{
  display: inline!important;
}

.navbar{
  height: 10vh;
  background-color: #0e3782;
}

.navbar-brand{
  color: white;
}

.navbar-brand:hover{
  color: #ed1a64;
}

.page-heading{
  text-align: center;
  font-size: 40px;
  color: #ed1a64;
}

.hero-landing-img{
  height: 90vh;
  background: url('./images/landing.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-landing-overlay{
  height: 90vh;
  background-color: rgba(14, 55, 130,0.15)
}

.hero-info-img{
  height: 80vh;
  background: url('./images/landing.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-info-overlay{
  height: 80vh;
  background-color: rgba(14, 55, 130,0.15)
}

.page-container{
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.all-retreats-container{
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

.social-media-icons > a{
  height: 30px!important;
  width: 30px!important;
  margin-right: 10px;
}

.hero-img-text-container{
  text-align: center;
  color: #ed1a64;
  font-size: 50px;
  position: absolute;
  bottom: 60%;
  right: 30%;
}

.hero-landing-text-container{
  text-align: center;
  color: #ed1a64;
  font-size: 50px;
  position: absolute;
  bottom: 70%;
  right: 20%;
}

.contact-logo{
  background-position: center;
  background-size: contain;
  height: 100px;
  margin: auto;
  background-image: url('./images/em-thomson-logo.jpg');
  width: 100px;
  background-repeat: no-repeat;
}

.retreat-thumbnail{
  display: inline-block;
  width : 300px;
  height : 200px;
  background-image : url('./images/yoga-retreat-stock.jpg');
  background-size: contain;
  background-position : center;
  background-repeat : no-repeat;
}

.retreat-text{
  padding: 20px;
  float: right;
}
