* {
  font-family: sans-serif, arial;
}

/* #root {
  background-color: rgba(14, 55, 130,0.5);
} */

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-margin{
  margin: 0!important;
}

.inline-block{
  display: inline-block!important;
}
.block{
  display: block!important;
}
.inline{
  display: inline!important;
}

.separator{
  border-top: 1px solid #808080;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar{
  height: 10vh;
  background-color: #0e3782;
}

.navbar-brand{
  color: white;
}

.navbar-brand:hover{
  color: #ed1a64;
}

.hover-pink:hover{
  color: #ed1a64;
}

.page-heading{
  text-align: center;
  font-size: 40px;
}

.hero-landing-img{
  height: 90vh;
  background: url('./images/landing.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-landing-overlay{
  height: 90vh;
  background-color: rgba(14, 55, 130,0.37)
}

.hero-info-img{
  height: 80vh;
  background: url('./images/landing.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 54%;
  position: relative;
}

.hero-info-overlay{
  height: 80vh;
  background-color: rgba(14, 55, 130,0.37)
}

.page-container{
  width: 80%;
  margin: auto;
  margin-top: 20px;
  color: black;
}

.all-retreats-container{
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

.social-media-icons > a{
  height: 30px!important;
  width: 30px!important;
  margin-right: 10px;
}

.hero-landing-text-container{
  color: #ffffff;
  position: absolute;
  bottom: 3%;
  right: 16%;
}

.hero-img-text{
  display: inline-block;
  font-size: 75px
}
.hero-img-subtext{
  display: inline-block;
  font-size: 30px;
  margin-left: 35px;
}

.contact-logo{
  background-position: center;
  background-size: contain;
  height: 200px;
  margin: auto;
  background-image: url('./images/em-thomson-logo.jpg');
  width: 200px;
  background-repeat: no-repeat;
}

.retreat-thumbnail{
  display: inline-block;
  width : 300px;
  height : 200px;
  background-image : url('./images/yoga-retreat-stock.jpg');
  background-size: contain;
  background-position : center;
  background-repeat : no-repeat;
}

.retreat-text{
  padding: 20px;
  float: right;
}

.header-logo{
  display: inline-block;
  margin-right: 20px;
  background-position: center;
  background-size: contain;
  height: 50px;
  background-image: url(/static/media/em-thomson-logo.d0644399.jpg);
  width: 50px;
  background-repeat: no-repeat
}

.image-container {
  width: 90%;
  margin: auto;
  text-align: center;
  min-height: 200px;
  margin-top: 75px;
  margin-bottom: 20px;
}

.stock-image {
  margin: 0 15px;
  width: 400px;
}
